<div class="container">
  <div class="section">
    <div class="row">

      <div class="col l12">

        <article
          class="post-2320 post type-post status-publish format-standard has-post-thumbnail hentry category-downtown tag-mtlcafecrawl roaster-kittel metro-mcgill metro-place-des-arts moods-energetic purpose-social-meetups"
          id="post-2320"
        >

          <div class="row">

            <div class="col l8 s12">

              <h2>{{name}}</h2>

              <img
                width="800"
                height="600"
                src={{image}}
                class="single-photo responsive-img z-depth-3 wp-post-image"
                alt={{name}}
                title={{name}}
                sizes="(max-width: 800px) 100vw, 800px"
              />

            </div>

            <div class="col l4 s12">

              <div class="card-panel alcaramel" style="min-height: 640px;">
                <h6>DETAILS</h6>
                <hr />

                <span class="detail-title"><i
                    class="mdi-communication-location-on"
                  ></i>location</span>
                <span class="">{{location}}</span>
                <hr />

                <span class="detail-title"><i
                    class="mdi-action-store"
                  ></i>{{description}}</span>
                <hr />

                <span class="detail-title"><i
                    class="mdi-device-access-time"
                  ></i>
                  review</span>
                <ul class="opening-hours">

                  <li>aqui va un review</li>

                </ul>
                <span class="detail-title"><i
                    class="mdi-image-photo-camera"
                  ></i>

                  <a target="_blank" href="">view more ...</a></span><hr />

                <span class="detail-title"><i class="mdi-maps-map"></i>
                  Add mementos</span>
                <form action="" method="POST" class="card-panel" id="suggest-form">
                  <div class="row">
                    <div class="input-field col s12">
                      <input
                        placeholder="Add a title"
                        type="text"
                        name="Title"
                        class="validate"
                        value=""
                      />
                      <label for="name">Title</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input
                        placeholder="Add your memories"
                        type="text"
                        name="description"
                        class="validate"
                        value=""
                      />
                      <label for="city">Memento</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col s12 right-align">

                      <button
                        class="btn-large teal"
                        type="submit"
                        name="action"
                        value="suggests"
                      >
                        Submit
                      </button>

                    </div>
                  </div>
                </form>

              </div>

            </div>

          </div>

        </article>
      </div>
    </div>
  </div>
</div>