<div class="container">
  {{#with city}}
<div id="form">
  <h2>Edit City</h2>
  <form action="/city/{{_id}}/edit" method="post">

    <label> Name
      <input type="text" name="name" placeholder="City's name" value={{name}} />
    </label>

    <label>Location 
      <input type="text" name="location" placeholder="where is it?" value={{location}} />
    </label>
    <label>Description 
      <input type="text" name="location" placeholder="where is it?" value={{description}} />
    </label>

    
    <button class="btn red darken-2" type="submit">Save changes</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
  {{/with}}
</div>
</div>
