<div class="details ">
<h1 class="center-align">Users List</h1>
{{#if User}}
    <div class="class="borderS"">
        <div class="card">
        <h4>Name: {{User.name}}</h4>
        <h4>Last Name: {{User.lastName}}</h4>
        <h4>Username: {{User.username}}</h4>
        <h4>City: {{User.city}}</h4>
        <h4>Age: {{User.age}}</h4>
        <h4>Email: {{User.email}}</h4>
        <a class="btn-large teal m20" href="/auth/list/{{User._id}}/edit">Edit</a>
        <form action="/auth/list/{{_id}}/delete" method="post">
            <button class="btn-large teal m20" type="submit">Delete</button>
        </form>
        </div>
    </div>
{{/if}}
</div>
